h1 
{
	text-align: center;
	font-family: sans-serif;
}

* 
{
	box-sizing: border-box;
}


section
{
	padding: 10px;
	width: 33.33%;
	float: left;
}

.colour1, .colour2, .colour3
{
	padding: 3px 25px;
	border-left: 1px black solid;
	border-bottom: 1px black solid;
	display: inline-block;
}

.colour1{
	background-color: #90CBA9;
}

.colour2{
	background-color: #A990CB;
}

.colour3{
	background-color: #CBA990;
}

.outer
{
	text-align: right;
}

.text
{
	padding: 10px;
}

.inner-block
{
	border: 1px black solid;
	background-color: #EBF2EE;
}

