* {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}
/*NAVIGATION BAR*/
.navbar {
	background-color: #233F79;
}
.navbar-header {
	padding-left: 20px;
}

.navbar-brand a {
	padding-top: 10px;
	font-size: 32px;
	text-decoration: none;
	color: #E1F0EE;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #EFF6F5;
}

#nav-list a {
	color: #E1F0EE;
	font-size: 2.8vw;
}

#nav-list a:hover {
	color: gray;
}
/*END OF NAVIGATION BAR*/

/*BODY*/

body {
	background-color: #EFF6F5;
}
h1 {
	color: #233F79;
}

section > section {
	background-color: #BED9F3;
	margin: 5px 10px 15px 10px;
	padding: 1px 15px 15px 15px ;
}

section > section > div {
	font-size: 20px;
}

section > section > div > a {
	text-decoration: underline;
}

h3 {
	font-size: 26px;
}
/*BODY END*/

